<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container" *ngIf="poll">
          <h1 class="display-4">{{poll.title}}</h1>          
          <alert type="danger" [hidden]="!errors">
            <strong>Please, type a custom item before vote</strong>
          </alert>
          <div class="row"> 
            <div class="col-5">
              <form  [formGroup]="pollForm">
                <div class="form-group">                                 
                  <div class="input-group" *ngFor="let item of poll.items;let i = index">
                    <div class="input-group-prepend" >
                      <div class="input-group-text" [ngStyle]="{'background-color' : colors[i]}">
                        <input type="radio" value="{{i}}" formControlName="item" (click)="pollFormValid = true">
                      </div>
                    </div>                      
                   <input type="text" class="form-control" value="{{poll.items[i].name}}" disabled [ngStyle]="{'background-color': 'white'}">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend" >
                      <div class="input-group-text">
                        <input type="radio" value="{{poll.items.length}}" formControlName="item" (click)="checkCustomItem()">
                      </div>
                    </div>
                    <input type="text" class="form-control" value="item_custom.value" formControlName="item_custom" (click)="checkCustomItem()">
                  </div>                  
                </div>                
                <div class="row" style="margin-top: 1em">
                  <div class="col-2">
                      <button [disabled]="!pollFormValid" class="btn btn-primary" (click)="updatePoll()">Vote</button>
                  </div>  
                  <div class="col-10 text-right" *ngIf="auth.user.id">                    
                    <a class="btn btn-info" href="{{linkShareOnTwitter}}" target="_blank">Share on Twitter</a>&nbsp;                    
                    <button class="btn btn-danger" (click)="deletePoll(poll._id)" *ngIf="auth.user.id === poll.user[0]">Erase</button>
                  </div>                  
                </div>
              </form>
            </div>
            <div class="col-7" *ngIf="poll">
              <app-piechart [data]="data1" [config]="config1" [elementId]="elementId1"></app-piechart>  
              <app-piechart-footer [items]="poll.items" [colors]="colors"></app-piechart-footer>
            </div>
          </div>
        </div>
    </div>
</div>

