<div class="container">
  <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Add a new poll</h1>
        <form [formGroup]="pollForm" (ngSubmit)="addPoll()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title" aria-describedby="emailHelp" placeholder="Enter title" value="A borrar título">            
          </div>        
          <div class="form-group" formArrayName="items">                                              
              <div *ngFor="let item of items.controls; let i=index">                  
                  <label>
                    <label for="item-{{i}}">Item {{i+1}}</label>
                    <input type="text" class="form-control" [formControlName]="i" id="item-{{i}}" placeholder="Enter item" required>
                  </label>
              </div>
          </div>
          <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success" (click)="addItem()">Add item</button>&nbsp;  
                <button type="button" class="btn btn-danger" (click)="removeItem()">Remove item</button>&nbsp;  
            </div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary">Submit</button>      
            </div>
          </div>          
        </form>
                
             
      </div>
  </div>
</div>
